<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        🎬 MovieFlix
    </div>

    <div class="container">

        <h1>Find Your Next Movie</h1>

        <form action="/recommend" method="POST" class="form">
            <input type="text" name="movie" placeholder="Search a movie..." required>
            <button type="submit">Recommend</button>
        </form>

        {% if recommendation %}
        <h2>Because you liked "{{ movie }}"</h2>

        <div class="grid">
            {% for m in recommendation %}
            <div class="card">
                <h3>{{ m }}</h3>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>

</body>
</html>